
.sea {
/*	background-color: blue; */
	margin: auto;
	position: relative;
	width: 200px;
	height: 0px;
}


img.octopus {
	display: block;
	position: absolute;
	top: 140px;
	left: -20px;
	/* -20 to center the octopus "in" the sea a little better.*/
	z-index: -1;
}


img.hat {
	display: block;
	position: absolute;
	top: 50px;
	left: -36px;
}


img.glasses {
	display: block;
	position: absolute;
	top: 238px;
	left: 22px;
}